.form {
  width: 100%;
  max-width: calc(var(--max-width) - 48px);
  position: relative;
  display: grid;
  gap: 24px;
}

.form h2 {
  text-align: center;
}

.form label {
  display: flex;
  align-items: center;
  text-align: center;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.input {
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: var(--border-radius);
  background-color: #f5f5f5;
  border: none;
}

.labelCol {
  width: 120px;
}

.form label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form textarea {
  resize: vertical;
}

.buttonRow {
  display: flex;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  color: white;
  padding: 24px 0;
  border-radius: var(--border-radius);
  background-color: var(--color-accent-primary);
  transition: background-color 0.5s ease-out;
  border: none;
}

.buttonClicked {
  background-color: green;
}

.button:hover {
  background-color: var(--color-accent-primary-highlight);
  cursor: pointer;
}

.buttonClicked:hover {
  background-color: green;
  cursor: default;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: -2px;
}

.buttonText {
  color: white;
  background-color: inherit;
}

.form input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.form input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color-accent-primary);
  background-color: CanvasText;
}

.form input[type="radio"]:checked::before {
  transform: scale(1);
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.required {
  border: 1px solid red;
}

.disabled {
  cursor: default;
}
